/* These classes will be used to style the Note Component objects in the frontend. */
.noteCard {
  /* Adding a background color to the cards */
  background-color: #c7eeff;
  /* Adding a margin-top to the class. This is similar to adding className = "g-4" to the Row component in App.tsx */
  margin-top: 1.5rem;
}

.cardText {
  /* We there are multiple lines in a text, each line should start in a new line.*/
  white-space: pre-line;
}

.cardBody {
  /* Hides the text that will overflow from the Card Body */
  overflow: hidden;
  /* Adding a gradient to the bottom of the card */
  /* So when the text is too long, even it is hidden the gradient will be shown to indicate there is more to the text */
  mask-image: linear-gradient(180deg, black 60%, transparent);
}
